body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 3vw;
  color: #edf2f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  background-position: center;
  background-size: cover;
  border: solid 1px red;
  border-radius: 13px;
  height: 100vh;
  position: relative;
  width: 94vw;
  /* background-image: url('../public/sample/bg1.jpg'); */
}

div,
section {
  box-sizing: border-box;
}

.subpage {
  border: dodgerblue 2px dotted;
  background-size: cover;
  border-radius: 13px;
  position: absolute;

  overflow: hidden;
  width: 94vw;
}

.sticky {
  position: sticky;
  top: 0;
}

.subtitle {
  bottom: 3px;
  position: absolute;
  margin: 0;
}
